*::after,
*::after,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

.container {
  padding: 6rem 4rem 1rem;
  height: 100vh;
  border: solid 1px;
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: clamp(2rem, 5vw, 4rem);
  margin-block: 2rem;
}

.heading2 {
  font-size: clamp(1rem, 2.5vw, 2rem);
  margin-block: 1rem;
}

.subheading {
  font-size: clamp(1rem, 1vw, 1.5rem);
}

input {
  outline: none;
  border: solid 1px;
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
  padding: var(--input-pad-sm);
  background-color: var(--secondary);
  border-radius: var(--radius);
}

table {
  background-color: var(--secondary);
  border-radius: var(--radius);
}

tr:nth-of-type(2n) {
  background-color: var(--primary);
}

td,
th {
  padding: var(--form-gap-sm);
  text-align: left;
}

a.cta {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  gap: var(--form-gap-sm);
  border-radius: var(--radius);
  color: white;
  background-color: var(--tertiary);
  transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in;
}

a.cta:hover {
  background-color: var(--hover-tertiary);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .container {
    padding: 5rem 2rem 1rem;
  }

  .heading {
    margin-block: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .container {
    padding: 3rem 1rem 1rem;
    font-size: smaller;
  }

  .heading {
    margin-block: 0.5rem;
  }
}
