@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --form-gap-sm: 0.5rem;
  --form-gap-md: 1rem;
  --input-pad-md: 12px 8px;
  --input-pad-sm: 6px 4px;
  --form-spacing-md: 1rem;
  --form-spacing-sm: 0.5rem;
  --radius: 0.5rem;
  --primary:#dfebe9;
  --secondary:#ffffff;
  --tertiary:#e38569;
  --hover-primary:#afd8d1;
  --hover-secondary:#e7dede;
  --hover-tertiary:#df9a85;
}

body {
  font-family: "Inter", sans-serif;
  font-size: small;
}
